header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
}

.navigation {
    text-decoration: none;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

h1 {
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    background-color: #4aaaa5;
    color: white;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    margin-bottom: 20px;
}

body {
    background: url("../images/greek-vase.png") repeat center center fixed;
    margin: 0px;
}

.container{
    padding: 20px;
    width: 960px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: auto;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin-top: 20px;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

#about-image {
    float: left;
    overflow: auto;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.port-image {
    width: 250px;
    height: 250px;
}

figure {
    float: left;
    overflow: auto;
    position: relative;
}

figcaption {
    padding: 15px;
    display: inside;
    float: middle;
    position: absolute;
    bottom: 15px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 220px;
    text-align: center;
}

.contact {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

#name, #email, #message {
    display: block;
    width: 920px;
}

#message {
    height: 170px;
}

#submit {
    background-color: #4aaaa5;
    margin-top: 15px;
    padding: 8px;
    color: white;
}

footer {
    text-align: center;
    background-color: #666666;
    color: white;
    position: relative;
    border-top: 5px solid #4aaaa5;
    height: 50px;
}

#copyright {
    margin-top: 27px;
}